@import "bootstrap/dist/css/bootstrap.min.css";

/* Стиль для Chrome, Safari, Edge (Chromium) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-top: 15px solid transparent;    /* верхняя прозрачная область 15px */
  border-bottom: 15px solid transparent; /* нижняя прозрачная область 15px */
  background-clip: padding-box;          /* фон ограничен только внутренним блоком без бордеров */
  border-radius: 6px;                    /* скругление, подберите под дизайн */
}

::-webkit-scrollbar-thumb {
  background-color: #888;                /* основной цвет ползунка */
  border-top: 15px solid transparent;    /* верхняя прозрачная область 15px */
  border-bottom: 15px solid transparent; /* нижняя прозрачная область 15px */
  background-clip: padding-box;          /* фон ограничен только внутренним блоком без бордеров */
  border-radius: 6px;                    /* скругление, подберите под дизайн */
}

/* Стиль для Firefox */
.element-with-scrollbar {
  scrollbar-width: thin;            /* "auto", "thin" или "none" */
  scrollbar-color: #888 #f1f1f1;    /* thumb color, track color */
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #e1f6f845;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure wrapper takes up full height of the viewport */
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.header .header__top {
  width: 100%;
  background-color: #e1f6f8;
}

.header .header__top__wrap {
  width: 100%;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.header .lang {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  color: #414141;
  text-transform: capitalize;
}

.header .lang > li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  cursor: pointer;
}

.header .lang > li > img:first-child{
  width: 20px !important;
  height: 20px !important;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 11px;
}

.header .lang > li span {
  margin-right: 9px;
}

.language-switcher {
  position: relative;
  display: inline-block;
}

.language-switcher ul {
  margin-bottom: 0;
}

.header .lang .sub__lang {
  position: absolute;
  left: 24px;
  top: 50px;
  background-color: #e1f6f8;
  list-style-type: none;
  padding: 10px;
  white-space: nowrap;
  width: 136px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  border-radius: 10px;
}

.header .lang .sub__lang li {
  margin-bottom: 8px;
  cursor: pointer;
}
.header .lang .sub__lang li a{
  display: flex;
  align-items: center;
}
.header .lang .sub__lang li img{
  margin-right: 7px;
  width: 20px !important;
  height: auto;
}

.header .lang.open .sub__lang {
  display: block;
}

.header .lang.open .arr {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.to-website {
  display: none;
}
.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.header .header__mobile__contacts {
  display: none;
  background-color: #00aab7;
}
@media (min-width: 971px) and (max-width: 991px) {
  header .container {
    max-width: 950px;
  }
}
@media (min-width: 971px) {
  .navbar-bottom {
    display: none;
  }
  .margin-top-90 {
    margin-top: 60px !important;
  }
}
@media (max-width: 970px) {
  /* Основной контейнер навигации */
  .navbar-bottom {
    position: fixed;         /* Фиксируем в окне браузера */
    bottom: 0;               /* Располагаем у нижней границы экрана */
    left: 0;                 /* Прижимаем к левой стороне экрана */
    width: 100%;             /* Ширина на всю страницу */
    height: 50px;            /* Примерная высота; подберите под ваш дизайн */
    background-color: #00aab7;  /* Цвет фона (можно заменить на свой) */
    color: #fff;             /* Цвет текста (контрастный фону) */
    display: flex;           /* Для удобного расположения элементов */
    align-items: center;     /* Вертикальное выравнивание по центру */
    justify-content: space-around; /* Распределяем пункты меню равномерно */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Небольшая тень сверху */
    z-index: 9999;           /* Чтобы панель перекрывала другой контент */
  }
  .navbar-bottom svg {
    width: 26px;
    height: 26px;
  }
  .header .contact {
    display: none;
  }
  .header .header__mobile__contacts {
    display: block;
  }
  .header .header__top__wrap {
    padding-right: 50px;
    position: relative;
    padding: 10px 0;
  }
  .header .lang .sub__lang {
    top: 30px;
  }
  .margin-top-90 {
    margin-top: 50px !important;
  }
  .header .to-website .header-menu span {
    color: #414141;
    font-size: 16px;
    font-weight: 500;
  }
  .to-website {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #414141;
  }
  .to-website svg {
    margin-right: 10px;
    color: #00aab7;
  }
}
.contact svg {
  margin-right: 10px;
  color: #00aab7;
}

.message-block {
  height: 54px;
}

.message-block-76 {
  height: 76px;
}

.margin-top-130 {
  margin-top: 130px;
}

.margin-top-90 {
  margin-top: 90px;
}

.dashboard-button {
  cursor: pointer;
}

.card {
  /*border: solid 0px #00aab7;*/
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding: 20px;
}

.card-body {
  position: relative;
  padding: 22px;
}

.company-card .card-body {
  padding: 0;
}

#company-top .fa-gear {
  z-index: 999;
}

.new-order-button {
  position: absolute;
  top: 20%;
  right: 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: #00aab7;
  text-align: center;
  width: 140px;
  height: 55px;
  border-radius: 27px;
  border: solid 2px #00aab7;
  cursor: pointer; /* Изменение курсора */
  transition: all 0.3s ease; /* Плавный переход при наведении */
}

.new-order-button:hover {
  background-color: #00aab7; /* Цвет фона при наведении */
  color: #fff; /* Цвет текста при наведении */
}

.details-place-button {
  position: absolute;
  top: 20%;
  right: 186px;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: #00aab7;
  text-align: center;
  width: 140px;
  height: 55px;
  border-radius: 27px;
  border: solid 2px #00aab7;
  cursor: pointer; /* Изменение курсора */
  transition: all 0.3s ease; /* Плавный переход при наведении */
}

.details-place-button:hover {
  background-color: #00aab7; /* Цвет фона при наведении */
  color: #fff; /* Цвет текста при наведении */
}

.place-card {
  margin-bottom: 20px;
}

.place-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.place img {
  position: absolute;
  top: 11px;
  left: 14px;
  width: 70px;
  border-radius: 30px;
}
.order-mobile {
  display: none;
}
@media (min-width: 1200px) {
  .place-mobile-button {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 1200px) {
  .order-mobile {
    display: block;
    width: 26px;
    height: 26px;
  }
  .text-new-order-in-button {
    display: none;
  }
  .new-order-button {
    top: 16%;
    right: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    padding: 12px;
  }
  .details-place-button {
    top: 16%;
    right: 92px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    width: 60px;
    height: 60px;
    border-radius: 16px;
  }
  .place-card .place {
    padding: 21px 160px 16px 90px !important;
  }
  .place-icon {
    height: 58px !important;
    width: 58px !important;
    background: #e1f6f8;
    border-radius: 14px !important;
    padding: 18px 18px !important;
    position: absolute;
    top: 16px !important;
    left: 16px !important;
  }
  .place-card-name,
  .place .card-text {
    width: 336px;            /* или любая другая фиксированная ширина */
    white-space: nowrap;     /* не переносить текст на новую строку */
    overflow: hidden;        /* скрывать выходящий за границы текст */
    text-overflow: ellipsis; /* добавить «…» вместо обрезанного текста */
  }
  .place-mobile-button {
    display: block;
  }
  .place-mobile-button .btn-link-skeleton {
    margin: auto;
  }
  .place-desktop-button {
    display: none;
  }
  .message-block-76 {
    min-height: 10px;
    height: auto;
  }
  #company-top .mb-4 {
    margin-bottom: 10px !important;
  }
  #company-top.row>* {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  #company-top.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .account-page .place-card {
    margin-bottom: 10px;
  }
  .account-page .mt-4 {
    margin-top: 0 !important;
  }
  .place-mobile-button {
    display: block;
    margin-bottom: 30px;
  }
  .place-mobile-button .btn-link-skeleton {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .place-card-name,
  .place .card-text {
    width: 350px;            /* или любая другая фиксированная ширина */
    white-space: nowrap;     /* не переносить текст на новую строку */
    overflow: hidden;        /* скрывать выходящий за границы текст */
    text-overflow: ellipsis; /* добавить «…» вместо обрезанного текста */
  }
  .details-place-button {
    top: 16%;
    right: 92px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    width: 60px;
    height: 60px;
    border-radius: 16px;
  }
  .new-order-button {
    top: 16%;
    right: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    padding: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .place-card-name,
  .place .card-text {
    width: 506px;            /* или любая другая фиксированная ширина */
    white-space: nowrap;     /* не переносить текст на новую строку */
    overflow: hidden;        /* скрывать выходящий за границы текст */
    text-overflow: ellipsis; /* добавить «…» вместо обрезанного текста */
  }
  .details-place-button {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
  }
  .new-order-button {
    top: 16%;
    right: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    z-index: 11;
    padding: 12px;
  }
  .place-card.active {
    border: 0 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    transform: none !important;
  }
  .col-history {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .details-place-button {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
  }
  .new-order-button {
    top: 16%;
    right: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    z-index: 11;
    padding: 12px;
  }
  .place-card.active {
    border: 0 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    transform: none !important;
  }
  .col-history {
    display: none;
  }
}

@media (min-width: 350px) and (max-width: 575px) {
  .text-new-order-in-button {
    display: none;
  }
  .order-mobile {
    display: block;
    width: 26px;
    height: 26px;
  }
  .new-order-button {
    top: 16%;
    right: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    z-index: 11;
    padding: 12px;
  }
  .details-place-button {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
  }
  .place-card .place {
    padding: 21px 80px 16px 20px !important;
  }
  .place-icon {
    display: none;
  }
  .place-card-name,
  .place .card-text {
    width: 250px;            /* или любая другая фиксированная ширина */
    white-space: nowrap;     /* не переносить текст на новую строку */
    overflow: hidden;        /* скрывать выходящий за границы текст */
    text-overflow: ellipsis; /* добавить «…» вместо обрезанного текста */
  }
  .place-detail-page .btn-submit,
  .place-detail-page .btn-link,
  .account-page .btn-submit,
  .account-page .btn-link,
  .account-page .btn-link-skeleton {
    width: 160px !important;
  }
  .place-detail-page .place-info .btn-submit {
    width: 200px !important;
  }
  .place-mobile-button .btn-link {
    width: 200px !important;
  }
  .place-card.active {
    border: 0 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    transform: none !important;
  }
  .col-history {
    display: none;
  }
  .message-block-76 {
    min-height: 10px;
    height: auto;
  }
  #company-top .mb-4 {
    margin-bottom: 6px !important;
  }
  #company-top.row>* {
    padding-right: 3px !important;
    padding-left: 3px !important;
  }
  #company-top.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  #detail-page .row {
    margin-right: -5px !important;
    margin-left: -5px !important;
  }
  .mt-mobile {
    margin-top: 10px !important;
  }
  .account-page h4 {
    font-size: 18px !important;
  }
  .account-page .mt-4 {
    margin-top: 0 !important;
  }
  .account-page .place-card {
    margin-bottom: 10px;
  }
  .account-page .place-icon-skeleton {
    left: auto !important;
    right: 20px;
  }
  .place-mobile-button {
    display: block;
    margin-bottom: 30px;
  }
  .place-mobile-button .btn-link-skeleton {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .place-desktop-button {
    display: none;
  }
}

@media (max-width: 349px) {
  .text-new-order-in-button {
    display: none;
  }
  .order-mobile {
    display: block;
    width: 26px;
    height: 26px;
  }
  .new-order-button {
    top: 16%;
    right: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    z-index: 11;
    padding: 12px;
  }
  .details-place-button {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
  }
  .place-card .place {
    padding: 21px 80px 16px 20px !important;
  }
  .place-icon {
    display: none;
  }
  .place-card-name,
  .place .card-text {
    width: 250px;            /* или любая другая фиксированная ширина */
    white-space: nowrap;     /* не переносить текст на новую строку */
    overflow: hidden;        /* скрывать выходящий за границы текст */
    text-overflow: ellipsis; /* добавить «…» вместо обрезанного текста */
  }
  .account-page .btn-submit,
  .account-page .btn-link,
  .account-page .btn-link-skeleton {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .place-card.active {
    border: 0 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    transform: none !important;
  }
  .col-history {
    display: none;
  }
  .message-block-76 {
    min-height: 10px;
    height: auto;
  }
  #company-top .mb-4 {
    margin-bottom: 6px !important;
  }
  #company-top.row>* {
    padding-right: 3px !important;
    padding-left: 3px !important;
  }
  #company-top.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  #detail-page .row {
    margin-right: -5px !important;
    margin-left: -5px !important;
  }
  .mt-mobile {
    margin-top: 10px !important;
  }
  .account-page h4 {
    font-size: 18px !important;
  }
  .account-page .mt-4 {
    margin-top: 0 !important;
  }
  .account-page .place-card {
    margin-bottom: 10px;
  }
  .account-page .place-icon-skeleton {
    left: auto !important;
    right: 20px;
  }
  .place-mobile-button {
    display: block;
    margin-bottom: 30px;
  }
  .place-mobile-button .btn-link-skeleton {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .place-desktop-button {
    display: none;
  }
}

#company-top .card {
  border: solid 1px #e1f6f8;
  min-height: 120px;
  padding: 15px;
}

#company-top .card .company-name{
  margin: 28px 5px;
}

h1.detail-page  {
  font-size: 20px !important;
}

.detail-page .card {
  border: solid 0px;
}

.message-block .card:hover,
#company-top .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}

#company-top .card-form {
  cursor: none;
}

#company-top .card-form:hover {
  transform: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#company-top .company {
  background-color: #e1f6f8;
}

#company-top .mini {
  min-height: 120px;
  cursor: pointer;
  padding: 0;
}

.mini .card-body p {
  margin-bottom: 0;
}

.mini .card-body {
  padding: 30px 0;
}

.dashboard-button .card-body {
  padding: 0;
}

.new-order {
  margin-bottom: 20px;
  cursor: pointer;
}

.settings {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: auto;
}

.custom-tooltip {
  background-color: #333 !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3) !important; */
}

/* comoany card */
.company-card {
  background-color: #e1f6f8;
  border-radius: 16px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.detail-page .company-card:hover {
  transform: none;
}

.company-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.company-name {
  font-size: 18px;
  font-weight: bold;
  color: #0a68c0;
  margin-bottom: 10px;
}

.company-info {
  font-size: 14px;
  color: #5a5a5a;
  margin: 5px 0;
}

.company-contact {
  font-size: 16px;
  color: #0a68c0;
  margin-top: 15px;
  font-weight: bold;
}

#company-top .icon {
  height: 30px;
  margin-right: 5px;
}

.button-history {
  position: relative;
  cursor: pointer;
}

.text-history {
  position: absolute;
  bottom: 0;
  left: 1px;
}

.front-name {
  font-size: 18px;
  font-weight: bold;
}

p.text-history {
  margin-bottom: 0;
}

.mini .icon {
  height: 30px;
}

.place p {
  margin-bottom: 0;
  font-size: 16px;
}

.place h5,
.card-history h5 {
  font-size: 16px;
}

.card-history svg {
  height: 30px;
}

.dashboard .card {
  border-radius: 24px;
  padding: 0;
  height: 90px;
}

.place-card .place {
  padding: 16px 16px 16px 90px;
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
  cursor: pointer;
}

.place-card:hover {
  transform: scale(1.05);
}

.col-history {
  position: relative;
}

#card-history {
  /*position: absolute;*/
  left: 0;
  width: clamp(300px, 100%, 400px);
  background: #f8fcff;
  border: 2px solid #00aab7;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: none;
  transition: height 0.3s ease, top 0.3s ease, opacity 0.3s ease, box-shadow 0.3s;
  overflow: hidden;
  padding: 0;
  max-height: calc(70vh - 50px);
  overflow-y: auto;
  position: relative;
}

@media (min-width: 1200px) and (max-width: 1260px) {
  #card-history {
    max-width: 270px;
  }
}

#card-history .card-history {
  overflow-y: auto;
  height: 100%;
  padding-right: 16px;
  box-sizing: content-box;
}

#card-history .card-body {
  padding: 16px;
}

#card-history .cancel-order {
  display: none;
}

#card-history.active {
  display: block;
  opacity: 1;
}

/* Активные состояния */
.place-card.active {
  border: 2px solid #00aab7;
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3);
  transform: scale(1.04);
}

#card-history.active {
  border: 2px solid #00aab7;
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3);
}

/* loader */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-bar {
  width: 80%;
  height: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
}

.loader-progress {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.header-menu {
  margin-left: 20px;
}

.card-login {
  min-height: 300px;
  border: solid 2px #00aab7;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Roboto", sans-serif;
}


.btn-submit {
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: white;
  background-color: #00aab7;
  text-align: center;
  width: 200px;
  height: 55px;
  border-radius: 27px;
  border: solid 2px #00aab7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 auto;

}

.btn-submit:hover {
  color: #00aab7;
  border: solid 2px #00aab7;
  background-color: white;
}

.btn-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: #00aab7;
  text-align: center;
  width: 200px;
  height: 55px;
  border-radius: 27px;
  border: solid 2px #00aab7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.btn-link:hover {
  background-color: #00aab7;
  color: white;
}

.btn-link:active,
:not(.btn-check)+.btn:active{
  background-color: #00aab7;
  color: white;
}

.btn-red {
  background-color: #d90505;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: white;
  text-align: center;
  width: 200px;
  height: 55px;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 auto;

}

.btn-red:hover {
  background-color: #fff;
  color: #d90505;
  font-weight: 800;
  border: solid 2px #d90505;

}

.text-color {
  color: #28aab7;
}

.label-form {
  padding: 6px 12px;
  cursor: default;
}

.row-form {
  cursor: default;
}

.form-control {
  border-radius: 20px;
  box-shadow: 2.5px 3.2px 12px 1px #8d8d8d47;
}

.card-form .row {
  margin-bottom: 5px;
}

.alert {
  border-radius: 16px;
}

.card {
  border: solid 1px #fff;
}

.other-card .card {
  min-height: 260px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding: 20px;
  margin-top: 20px;
  cursor: default !important;
}

#upload-component .other-card .card {
  min-height: 170px;
}

#document-block .other-card .card {
  min-height: 226px;
}

.btn-upload {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: #00aab7;
  text-align: center;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  border: solid 2px #00aab7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.btn-upload:hover {
  background-color: #00aab7;
  color: white;
}

.spinner-icon {
  width: 18px;
  height: auto;
  margin-right: 10px;
}

.spinner {
  font-size: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

svg.loader{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}

.loader-container {
  position: fixed; /* Фиксированное положение */
  top: 0; /* Растягиваем контейнер на всю страницу */
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5); /* Серый полупрозрачный фон */
  z-index: 9999; /* Поверх всех элементов */
}

/* модальное окно для place */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  /*overflow: hidden;*/
  overflow-y: auto;
  z-index: 9999;
}

.modal-wrapper {
  width: 100%;
  max-width: 600px; /* Максимальная ширина формы */
  max-height: 80vh; /* Максимальная высота формы */
  overflow-y: auto; /* Включаем прокрутку, если контент формы не помещается */
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.form-check-input:checked {
  background-color: #34ba3d;
  border-color: #34bb3d;
}

.modal-content h3 {
  font-size: 24px;
}

.modal-content .alert {
  margin-bottom: 5px;
}


.order-message .modal-wrapper {
  min-height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-customer-edit p,
.order-message p {
  margin-bottom: 3px;
}

.order-message .btn-submit {
  height: 40px;
  width: 120px;
}

.btn-cancel {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.current-order {
  /*min-height: 410px !important;*/
}

@media (min-width: 991px) {
  .current-order-991 {
    display: none;
  }
}

@media (max-width: 991px) {
  .side-card {
    display: none;
  }
}

.side-card {
  position: relative;
}
.side-card .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card h1, .card h2, .card h3, .order-history h3 {
  font-size: 24px;
}

.order-history .card {
  border: solid 1px #fff;
  height: 94px;
  padding: 20px 20px 20px 86px;
  margin-bottom: 20px;
}

.all-history-page .card {
  border: solid 1px #fff;
  height: 94px;
  padding: 18px 20px 20px 86px;
  margin-bottom: 20px;
}

.all-history-page p {
  margin-bottom: -5px;
}

.history-icon svg {
  height: 18px;
}

.image-icon svg,
.place-icon svg,
.receipt-icon svg {
  height: 20px;
}

.image-icon svg,
.invoice-icon svg {
  height: 20px;
  width: 15px;
}

.place-icon {
  height: 50px;
  width: 50px;
  background: #e1f6f8;
  border-radius: 10px;
  padding: 15px 14px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.history-icon {
  height: 50px;
  width: 50px;
  background: #e1f6f8;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.invoice-icon {
  height: 50px;
  width: 50px;
  background: #e1f6f8;
  border-radius: 10px;
  padding: 15px 18px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.image-icon-container {
  position: absolute;
  top: 20px;
  /*right: 86px;*/
  right: 20px;
}

#card-history .image-icon-container {
  display: none;
}

.image-icon-position {
  position: relative;
}
.image-icon {
  height: 50px;
  width: 50px;
  background: #e1f6f8;
  border-radius: 10px;
  padding: 15px 18px;
  position: absolute;
  top: 0;
  right: 100px;
}

.download-invoice {
  position: absolute;
  top: 20px;
  right: 5px;
}

.download-invoice svg{
  height: 20px;
}

.btn-download {
  background-color: #e1f6f8;
  height: 50px;
  width: 50px;
  padding: 14px;
  transition: transform 0.3s ease;
}
.btn-download:hover {
  background-color: #87d6de;
  height: 50px;
  width: 50px;
  padding: 14px;
}

.receipt-icon {
  height: 50px;
  width: 50px;
  background: #e1f6f8;
  border-radius: 10px;
  padding: 15px 18px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.order-history p {
  margin-bottom: 3px;
}

.place-detail-page .detail-info {
  display: none;
}

.account-page .account-info,
.account-page .history-icon,
.account-page .invoice-icon,
.account-page .btn-history,
.account-page .receipt-icon {
  display: none;
}

@media (max-width: 767px) {
  .download-invoice .download-invoice-span {
   display: none;
  }
  .download-invoice .btn-download {
    width: 50px;
  }
}
@media (max-width: 530px) {
  .invoices-page .invoice-icon {
    display: none;
  }
}

.account-page .order-history .card {
  height: 60px;
  padding: 10px 14px;
  font-size: 14px;
  margin-bottom: 10px;
}

.account-page .order-history h3 {
  font-size: 18px;
}


.details-place-button-in-history {
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
  color: #00aab7;
  text-align: center;
  width: 140px;
  height: 36px;
  border-radius: 17px;
  border: solid 2px #00aab7;
  cursor: pointer; /* Изменение курсора */
  transition: all 0.3s ease; /* Плавный переход при наведении */
}

.place-detail-page .card {
  cursor: pointer;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.place-detail-page .expanded {
  /*height: 220px;*/
  height: var(--card-height, 220px);
  transition: height 0.3s ease;
}

.place-detail-page .dates .expanded {
  height: auto;
}

.order-history .card {
  cursor: pointer;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.order-history .expanded {
  /*height: 220px;*/
  height: var(--card-height, 220px);
  transition: height 0.3s ease;
}

.order-history .dates .expanded {
  height: auto;
}

.place-detail-page .place-details {
  min-height: 280px;
}

.message-block .card {
  height: 54px;
  width: auto;
  padding: 17px 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #e1f6f8;
  border: none;
}

.cancel-order {
  position: absolute;
  top: 18px;
  right: 20px;
}

/*checkbox*/

.checkbox-wrapper-19 {
  box-sizing: border-box;
  --background-color: #fff;
  --checkbox-height: 25px;
  position: relative;
}

@-moz-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@-webkit-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-webkit-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-moz-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

.checkbox-wrapper-19 input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: 5%;
  right: 20%;
}

.checkbox-wrapper-19 .check-box {
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: transparent;
  border: calc(var(--checkbox-height) * .1) solid #000;
  border-radius: 5px;
  position: absolute;
  top: 0;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * .2);
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  /*-webkit-transition: opacity ease 0.5;*/
  /*-moz-transition: opacity ease 0.5;*/
  /*transition: opacity ease 0.5;*/
}
.checkbox-wrapper-19 .check-box::before {
  top: calc(var(--checkbox-height) * .72);
  left: calc(var(--checkbox-height) * .41);
  box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.checkbox-wrapper-19 .check-box::after {
  top: calc(var(--checkbox-height) * .37);
  left: calc(var(--checkbox-height) * .05);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
  border-color: #34b93d;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
  height: calc(var(--checkbox-height) / 2);
  -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  animation: dothabottomcheck-19 0.2s ease 0s forwards;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
  height: calc(var(--checkbox-height) * 1.2);
  -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
  animation: dothatopcheck-19 0.4s ease 0s forwards;
}

/*end checkbox*/

.back-button {
  padding: 15px 12px;
}

p.back-link {
  margin-bottom: 0;
}

.place-icon-skeleton {
  height: 50px;
  width: 50px;
  background: #e3e3e3;
  border-radius: 10px;
  padding: 15px 14px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#card-history .place-icon-skeleton {
  display: none;
}

#card-history .card {
  border-radius: 16px
}
@media (max-width: 768px) {
  .all-history-page .mt-4 {
    margin-top: 2px !important;
  }
}
@media (max-width: 530px) {
  .order-history .history-icon {
    display: none;
  }
  .order-history .card {
    padding: 20px 16px;
    margin-bottom: 10px;
  }
  .order-history .place-icon-skeleton {
    left: auto;
    right: 20px;
  }
}

.display-none{
  display: none;
}

.height-1{
  height: 1px;
}

.days p {
  margin: 0;
}

.z-index-1 {
  position: absolute;
  z-index: 1;
  left: 2000px;
}
.login-margin-top-90 {
  margin-top: 90px;
}
.form-login {
  width: 400px;
  margin: 5rem auto;
}
#detail-page label.checkbox-label-edit-form {
  padding-left: 50px !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form-login {
    width: 400px;
    margin: 0 auto;
  }
  .login-margin-top-90 {
    margin-top: 70px;
  }
}
@media (max-width: 430px) {
  .form-login {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
  }
  .form-login .card-body {
    padding: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .detail-page .form-label {
    margin-bottom: 0;
  }
  .form-login {
    margin: 1rem auto;
  }
  .margin-top-130 {
    margin-top: 110px;
  }
}
@media (max-width: 575px) {
  .form-label {
    margin-bottom: 0;
  }
  .place-details h1,
  .modal-content h3 {
    font-size: 20px;
  }
  .detail-page .company-card .row>* {
    padding-right: 0 !important;
    padding-left: 3px !important;
  }
  #detail-page label.checkbox-label-edit-form {
    padding-left: 40px !important;
  }
  .form-login {
    margin-top: 1rem;
  }
  .margin-top-130 {
    margin-top: 110px;
  }
}
.form-customer-edit .alert {
  padding: 5px 10px;
  margin-bottom: 0;
}

.form-customer-edit input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: 5%;
  right: auto;
  left: 17px;
}

#auth-data-block .other-card .card {
  min-height: 122px;
}

.btn-logout {
  background-color: #d90505;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  border: solid 2px #d90505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.btn-logout:hover {
  color: #d90505;
  background-color: #fff;
}

#auth-data-block .modal-wrapper {
  max-width: 400px;
}

.reset-forma {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 24px;
  height: auto;
}

.forgot-pass .card-login {
  min-height: 200px;
}
.forgot-pass p,
.forgot-pass .alert {
  margin-bottom: 0;
}
.contact-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
.contact-form p {
  text-decoration: none;
  outline: none;
  color: inherit;
  font-size: 12px;
  text-align: center;
}
.contact-form .form-check-input {
  width: 20px;
  height: 20px;
}

.contacts__form__input-wrapper {
  position: relative;
}

.contacts__form__input-wrapper input.name {
  margin-bottom: 21px;
  padding-right: 60px; /* отступ справа для иконки */
}

.contacts__form__input-wrapper .input-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* чтобы клики попадали на input */
}
.footer {
  background-color: #e1f6f8;
  padding: 30px 30px 80px 30px;
}
.footer__list {
  padding-top: 30px;
}
.footer .contact {
  padding-top: 15px;
}
@media (min-width: 992px) {
  .footer .footer__list {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .footer .footer__list {
    font-size: 16px;
    display: block;
    padding-top: 0;
  }
  .footer .logo {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .footer .footer__list li {
    margin: 0 0 5px;
  }
}
@media (max-width: 575px) {
  .footer .logo-col {
    display: none;
  }
  .footer .footer__list li {
    margin: 0 0 5px;
  }
  .footer .footer__list {
    font-size: 16px;
    display: block;
    padding-top: 0;
    padding-left: 0;
    text-align: left;
  }
}

#footer-account .contact {
  h6 {
    text-align: left;
  }
}

.user-card {
  position: relative;
  width: 100%;
  height: 90px;
  padding: 34px 90px;
}
.user-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.total-data .user-card {
  padding: 30px 90px;
}
.total-data .user-card p {
  font-size: 20px;
  margin-bottom: 0;
}
.user-card .users-icon {
  position: absolute;
}

.users-icon svg {
  height: 20px;
  width: 15px;
}

.order-admin-icon,
.users-icon {
  height: 50px;
  width: 50px;
  background: #e1f6f8;
  border-radius: 10px;
  padding: 15px 17px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.order-admin-icon {
  padding: 15px 15px;
}
.all-customers .user-card,
.recent-customers .user-card {
  padding: 20px 20px 20px 90px;
}
.all-customers .user-card p,
.recent-customers .user-card p {
  margin: 0;
}

#company-top-admin .icon {
  height: 20px;
}
#company-top-admin .company-info {
  font-size: 16px;
}
#company-top-admin p.text-history {
  font-size: 20px;
}
#company-top-admin .button-history svg {
  height: 30px;
}
#company-top-admin .details-place-button {
  position: absolute;
  top: 20%;
  right: 20px !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: #00aab7;
  text-align: center;
  width: 140px;
  height: 55px;
  border-radius: 27px;
}
#company-top-admin .details-place-button:hover {
  color: #fff;
}
#company-top-admin .place {
  padding: 20px 20px 20px 90px;
}
.upload-invoice {
  /*position: absolute;*/
  top: 20px;
  right: 20px;
}
.report-card .card {
  height: auto;
  margin-bottom: 15px;
  padding: 20px 30px 20px 90px;
}

.report-card .download-invoice {
  position: relative;
}
.btn-primary {
  margin: 0 5px;
  background-color: #00aab7;
  border-color: #00aab7;
  min-width: 36px;
}
.btn-primary:hover {
  background-color: #fff;
  border-color: #00aab7;
  color: #202020;
}
.btn-prev-next,
.btn-light {
  margin: 0 5px;
  background-color: #fff;
  border-color: #00aab7;
  min-width: 36px;
}
.btn-prev-next:hover,
.btn-light:hover {
  background-color: #00aab7;
  border-color: #00aab7;
  color: #fff;
}
.list-group-item:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.customer-search {
  margin-top: 1.5rem;
}
.customer-search .form-control {
  border-radius: 12px;
}
.customer-search .btn-primary {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.instruction .card {
  background-color: #fff3cd;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .total-data .user-card p {
    font-size: 18px;
  }
  .total-data .user-card {
    padding: 20px 20px 20px 90px;
  }
}
@media (max-width: 991px) {
  #company-top-admin .place {
    padding: 20px 20px 20px 90px !important;
  }
  #company-top-admin .details-place-button {
    position: absolute;
    top: 0;
    right: 0 !important;
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .total-data .user-card p {
    font-size: 18px;
  }
  .total-data .user-card {
    padding: 20px 20px 20px 90px;
  }
  .order-admin-icon,
  .users-icon {
    /*display: none;*/
  }
  #admin .container {
    max-width: 720px;
  }

}
@media (max-width: 575px) {
  .total-data .users-icon,
  .total-data .order-admin-icon {
    display: none;
  }
  .total-data .user-card {
    padding: 30px 20px;
  }
  #company-top-admin .place {
    padding: 20px !important;
  }
  #company-top-admin.row {
    margin-right: -35px;
  }
  #company-top-admin .needs-changes {
    font-size: 14px;
  }
  .label-row {
    margin-top: 15px;
  }

}
@media (max-width: 530px) {
  .invoices-page .report-card .card {
    padding: 20px;
  }
}
.needs-changes {
  color: red;
}
#company-top-admin .company-card:hover {
  transform: none;
}

#company-top-admin .company-card {
  min-height: 350px;
}

a.terms {
  color: #28aab7;
}
a.terms:hover {
  color: #2f69e9;
}
.footer .contact a {
  margin-bottom: 10px;
}
.cursor-pointer {
  cursor: pointer;
}