@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: 'Montserrat', sans-serif;
  background: #e1f6f845;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure wrapper takes up full height of the viewport */
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.contact svg {
  margin-right: 10px;
  color: #00aab7;
}

.message-block {
  height: 54px;
}

.message-block-76 {
  height: 76px;
}

.margin-top-130 {
    margin-top: 130px;
}

.margin-top-90 {
  margin-top: 90px;
}

.dashboard-button {
  cursor: pointer;
}

.card {
  /*border: solid 0px #00aab7;*/
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding: 20px;
}

.card-body {
    position: relative;
    padding: 22px;
}

.company-card .card-body {
  padding: 0;
}

#company-top .fa-gear {
  z-index: 999;
}

.new-order-button {
  position: absolute;
  top: 20%;
  right: 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: #00aab7;
  text-align: center;
  width: 140px;
  height: 55px;
  border-radius: 27px;
  border: solid 2px #00aab7;
  cursor: pointer; /* Изменение курсора */
  transition: all 0.3s ease; /* Плавный переход при наведении */
}
  
.new-order-button:hover {
  background-color: #00aab7; /* Цвет фона при наведении */
  color: #fff; /* Цвет текста при наведении */
}

.details-place-button {
  position: absolute;
  top: 20%;
  right: 186px;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: #00aab7;
  text-align: center;
  width: 140px;
  height: 55px;
  border-radius: 27px;
  border: solid 2px #00aab7;
  cursor: pointer; /* Изменение курсора */
  transition: all 0.3s ease; /* Плавный переход при наведении */
}
  
.details-place-button:hover {
  background-color: #00aab7; /* Цвет фона при наведении */
  color: #fff; /* Цвет текста при наведении */
}

  .place-card {
    margin-bottom: 20px;
  }

  .place-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .place img {
    position: absolute;
    top: 11px;
    left: 14px;
    width: 70px;
    border-radius: 30px;
  }

  #company-top .card {
    border: solid 1px #e1f6f8;
    min-height: 120px;
  }

#company-top .card .company-name{
  margin: 28px 5px;
}

  h1.detail-page  {
    font-size: 24px;
  }

  .detail-page .card {
    border: solid 0px;
  }

  .message-block .card:hover,
  #company-top .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
  }

  #company-top .card-form {
    cursor: none;
  }

  #company-top .card-form:hover {
    transform: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  #company-top .company {
    background-color: #e1f6f8;
  }

  #company-top .mini {
    min-height: 120px;
    cursor: pointer;
    padding: 0;
  }

  .mini .card-body p {
    margin-bottom: 0;
  }

  .mini .card-body {
    padding: 30px 0;
  }

  .dashboard-button .card-body {
    padding: 0;
  }

  .new-order {
    margin-bottom: 20px;
    cursor: pointer;
  }

.settings {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: auto;
}

.custom-tooltip {
  background-color: #333 !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3) !important; */
}

/* comoany card */
  .company-card {
    background-color: #e1f6f8;
    border-radius: 16px;
    padding: 20px;
    font-family: "Roboto", sans-serif;
  }
  
  .detail-page .company-card:hover {
    transform: none;
  }

  .company-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .company-name {
    font-size: 18px;
    font-weight: bold;
    color: #0a68c0;
    margin-bottom: 10px;
  }
  
  .company-info {
    font-size: 14px;
    color: #5a5a5a;
    margin: 5px 0;
  }
  
  .company-contact {
    font-size: 16px;
    color: #0a68c0;
    margin-top: 15px;
    font-weight: bold;
  }

#company-top .icon {
  height: 30px;
  margin-right: 5px;
}

.button-history {
  position: relative;
  cursor: pointer;
}

.text-history {
  position: absolute;
  bottom: 0;
  left: 1px;
}

.front-name {
  font-size: 18px;
  font-weight: bold;
}

p.text-history {
  margin-bottom: 0;
}

.mini .icon {
  height: 30px;
}

.place p {
  margin-bottom: 0;
  font-size: 16px;
}

.place h5,
.card-history h5 {
  font-size: 18px;
}

.card-history svg {
  height: 30px;
}

.dashboard .card {
  border-radius: 24px;
  padding: 0;
  height: 90px;
}

.place-card .place {
  padding: 16px 16px 16px 90px;
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
  cursor: pointer;
}

.place-card:hover {
  transform: scale(1.05);
}

.col-history {
  position: relative;
}

#card-history {
  position: absolute;
  left: 20px;
  width: clamp(300px, 100%, 400px);
  background: #f8fcff;
  border: 2px solid #00aab7;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: none;
  transition: height 0.3s ease, top 0.3s ease, opacity 0.3s ease, box-shadow 0.3s;
}

#card-history .cancel-order {
  display: none;
}

#card-history.active {
  display: block;
  opacity: 1;
}

/* Активные состояния */
.place-card.active {
  border: 2px solid #00aab7;
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3);
  transform: scale(1.08);
}

#card-history.active {
  border: 2px solid #00aab7;
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3);
}

/* loader */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-bar {
  width: 80%;
  height: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
}

.loader-progress {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.header-menu {
  margin-left: 20px;
}

.card-login {
  min-height: 300px;
  border: solid 2px #00aab7;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Roboto", sans-serif;
}


.btn-submit {
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    color: white;
    background-color: #00aab7;
    text-align: center;
    width: 200px;
    height: 55px;
    border-radius: 27px;
    border: solid 2px #00aab7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 auto;

}

.btn-submit:hover {
  color: #00aab7;
  border: solid 2px #00aab7;
  background-color: white;
}

.btn-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: #00aab7;
  text-align: center;
  width: 200px;
  height: 55px;
  border-radius: 27px;
  border: solid 2px #00aab7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.btn-link:hover {
  background-color: #00aab7;
  color: white;
}

.btn-link:active,
:not(.btn-check)+.btn:active{
  background-color: #00aab7;
  color: white;
}

.btn-red {
  background-color: #d90505;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: white;
  text-align: center;
  width: 200px;
  height: 55px;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 auto;

}

.btn-red:hover {
  background-color: #fff;
  color: #d90505;
  font-weight: 800;
  border: solid 2px #d90505;

}

.text-color {
  color: #28aab7;
}

.label-form {
  padding: 6px 12px;
}

.form-control {
  border-radius: 20px;
  box-shadow: 2.5px 3.2px 12px 1px #8d8d8d47;
}

.card-form .row {
  margin-bottom: 5px;
}

.alert {
  border-radius: 16px;
}

.card {
  border: solid 1px #fff;
}

.other-card .card {
  min-height: 260px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding: 20px;
  margin-top: 20px;
}

#upload-component .other-card .card {
  min-height: 170px;
}

#document-block .other-card .card {
  min-height: 226px;
}

.btn-upload {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: #00aab7;
  text-align: center;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  border: solid 2px #00aab7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.btn-upload:hover {
  background-color: #00aab7;
  color: white;
}

.spinner-icon {
  width: 18px;
  height: auto;
  margin-right: 10px;
}

.spinner {
  font-size: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

svg.loader{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}

.loader-container {
  position: fixed; /* Фиксированное положение */
  top: 0; /* Растягиваем контейнер на всю страницу */
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5); /* Серый полупрозрачный фон */
  z-index: 9999; /* Поверх всех элементов */
}

/* модальное окно для place */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 9999;
}

.modal-wrapper {
  width: 100%;
  max-width: 600px; /* Максимальная ширина формы */
  max-height: 90vh; /* Максимальная высота формы */
  overflow-y: auto; /* Включаем прокрутку, если контент формы не помещается */
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.form-check-input:checked {
  background-color: #34ba3d;
  border-color: #34bb3d;
}

.modal-content h3 {
  font-size: 24px;
}


.order-message .modal-wrapper {
  min-height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.order-message p {
  margin-bottom: 3px;
}

.order-message .btn-submit {
  height: 40px;
  width: 120px;
}

.btn-cancel {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.current-order {
  min-height: 410px !important;
}

.card h1, .card h2, .card h3, .order-history h3 {
  font-size: 24px;
}

.order-history .card {
  border: solid 1px #fff;
  height: 94px;
  padding: 20px 20px 20px 86px;
  margin-bottom: 20px;
}

.history-icon svg {
  height: 18px;
}

.place-icon svg,
.receipt-icon svg {
  height: 20px;
}

.invoice-icon svg {
  height: 20px;
  width: 15px;
}

.place-icon {
  height: 50px;
  width: 50px;
  background: #e1f6f8;
  border-radius: 10px;
  padding: 15px 14px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.history-icon {
  height: 50px;
  width: 50px;
  background: #e1f6f8;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.invoice-icon {
  height: 50px;
  width: 50px;
  background: #e1f6f8;
  border-radius: 10px;
  padding: 15px 18px;
  position: absolute;
  top: 20px;
  left: 20px;
}



.download-invoice {
  position: absolute;
  top: 20px;
  right: 20px;
}

.download-invoice svg{
  height: 20px;
}

.btn-download {
  background-color: #e1f6f8;
  height: 50px;
  width: 150px;
  padding: 14px;
}

.receipt-icon {
  height: 50px;
  width: 50px;
  background: #e1f6f8;
  border-radius: 10px;
  padding: 15px 18px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.order-history p {
  margin-bottom: 3px;
}

.place-detail-page .detail-info {
  display: none;
}

.account-page .account-info,
.account-page .history-icon,
.account-page .invoice-icon,
.account-page .btn-history,
.account-page .receipt-icon {
  display: none;
}

.account-page .order-history .card {
  height: 60px;
  padding: 10px 14px;
  font-size: 14px;
  margin-bottom: 10px;
}

.account-page .order-history h3 {
  font-size: 18px;
}

#card-history {
  padding: 0;
  max-height: calc(100vh - 50px); /* Ограничивает высоту окна до видимой области */
  overflow-y: auto; /* Добавляет прокрутку, если контент превышает высоту */
  position: relative;
}


.details-place-button-in-history {
  position: absolute;
  top: 55px;
  right: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: #00aab7;
  text-align: center;
  width: 140px;
  height: 50px;
  border-radius: 27px;
  border: solid 2px #00aab7;
  cursor: pointer; /* Изменение курсора */
  transition: all 0.3s ease; /* Плавный переход при наведении */
}

.place-detail-page .card {
  cursor: pointer;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.place-detail-page .expanded {
  height: 190px;
}

.place-detail-page .place-details {
  min-height: 280px;
}

.message-block .card {
  height: 54px;
  width: auto;
  padding: 17px 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #e1f6f8;
  border: none;
}

.cancel-order {
  position: absolute;
  top: 18px;
  right: 86px;
}

/*checkbox*/

 .checkbox-wrapper-19 {
   box-sizing: border-box;
   --background-color: #fff;
   --checkbox-height: 25px;
   position: relative;
 }

@-moz-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@-webkit-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-webkit-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@-moz-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

.checkbox-wrapper-19 input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: 5%;
  right: 20%;
}

.checkbox-wrapper-19 .check-box {
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: transparent;
  border: calc(var(--checkbox-height) * .1) solid #000;
  border-radius: 5px;
  position: absolute;
  top: 0;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * .2);
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  /*-webkit-transition: opacity ease 0.5;*/
  /*-moz-transition: opacity ease 0.5;*/
  /*transition: opacity ease 0.5;*/
}
.checkbox-wrapper-19 .check-box::before {
  top: calc(var(--checkbox-height) * .72);
  left: calc(var(--checkbox-height) * .41);
  box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.checkbox-wrapper-19 .check-box::after {
  top: calc(var(--checkbox-height) * .37);
  left: calc(var(--checkbox-height) * .05);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
  border-color: #34b93d;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
  height: calc(var(--checkbox-height) / 2);
  -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  animation: dothabottomcheck-19 0.2s ease 0s forwards;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
  height: calc(var(--checkbox-height) * 1.2);
  -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
  animation: dothatopcheck-19 0.4s ease 0s forwards;
}

/*end checkbox*/

.back-button {
  padding: 15px 12px;
}

p.back-link {
  margin-bottom: 0;
}

.place-icon-skeleton {
  height: 50px;
  width: 50px;
  background: #e3e3e3;
  border-radius: 10px;
  padding: 15px 14px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#card-history .place-icon-skeleton {
  display: none;
}

#card-history .card {
  border-radius: 16px
}