<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Password Reset</title>
</head>
<body>
<p>
  This email was sent to you following a request to reset the password for your user account
  on the system <strong>Pradelna no.1 </strong>.
</p>

<p>Please go to the following page and enter a new password:</p>
<p>
  <a href="{{ protocol }}://{{ domain }}/api/accounts/reset/{{ uid }}/{{ token }}/">
    {{ protocol }}://{{ domain }}/api/accounts/reset/{{ uid }}/{{ token }}/
  </a>
</p>

<p>
  For reference, your email is:
  <strong>{{ user.get_username }}</strong>
</p>

<p>Thank you for using our website!</p>

<p>
  The <strong>Pradelna no.1</strong> team
</p>
</body>
</html>