<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Obnova hesla</title>
</head>
<body>
<p>
    Tento e-mail vám byl zaslán na základě vyžádání obnovy hesla vašeho uživatelského účtu
    na systému <strong>pradelna1.cz</strong>.
</p>

<p>Přejděte na následující stránku a zadejte nové heslo:</p>
<p>
    <a href="{{ protocol }}://{{ domain }}/reset-password//{{ uid }}/{{ token }}/">
        {{ protocol }}://{{ domain }}/reset-password//{{ uid }}/{{ token }}/
    </a>
</p>

<p>
    Pro jistotu vaše uživatelské jméno:
    <strong>{{ user.get_username }}</strong>
</p>

<p>Děkujeme za používání našeho webu!</p>

<p>
    Tým aplikace <strong>pradelna1.cz</strong>
</p>
</body>
</html>