<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Сброс пароля</title>
</head>
<body>
<p>
    Это письмо отправлено вам по запросу на сброс пароля вашей учетной записи
    в системе <strong>Pradelna no.1 </strong>.
</p>

<p>Перейдите по следующей ссылке и введите новый пароль:</p>
<p>
    <a href="https://laundry.raketaweb.eu/api/accounts/reset/{{ uid }}/{{ token }}/">
        https://laundry.raketaweb.eu/api/accounts/reset/{{ uid }}/{{ token }}/
    </a>
</p>

<p>
    На всякий случай, ваш email:
    <strong>{{ user.get_username }}</strong>
</p>

<p>Спасибо за использование нашего сайта!</p>

<p>
    Команда приложения <strong>Pradelna no.1 </strong>
</p>
</body>
</html>